@using PJS.Bootstrap.Services;
@using Orchard.ContentManagement;

@{ 
    var settings = WorkContext.Resolve<IThemeSettingsService>().GetSettings();

    var blogPost = Model.ContentItem;
}

@if (settings.BlogPostLayout == 1) {
    <div id="blogpost-@blogPost.Id" class="blogpost-1">
        <div class="center-block text-center">
            <h3 class="post-title"><a href="@Url.ItemDisplayUrl((IContent)blogPost)">@blogPost.TitlePart.Title</a></h3>
            <div class="bottomspace30">
                By <a href="/Search?q=@blogPost.CommonPart.Owner.UserName">@blogPost.CommonPart.Owner.UserName</a> &bull; @blogPost.CommonPart.CreatedUtc.ToString("MMMM d, yyyy") &bull; @Display(Model.Tags)
            </div>
        </div>
        <div>
            @Display(Model.Summary)
        </div>
        <div class="clearfix"></div>
    </div>
}
else if (settings.BlogPostLayout == 2) {
    <div id="blogpost-@blogPost.Id" class="blogpost-2 bottomspace25">
        <div class="post-thumb">
        </div>
        <div class="post-details">
            <h4 class="post-title"><a href="@Url.ItemDisplayUrl((IContent)blogPost)">@blogPost.TitlePart.Title</a></h4>
            <div class="post-meta">
                <ul class="meta-list">
                    <li>
                        Posted on <a href="#">@blogPost.CommonPart.CreatedUtc.ToString("MMMM d, yyyy")</a>
                    </li>
                    <li>
                        By <a href="/Search?q=@blogPost.CommonPart.Owner.UserName">@blogPost.CommonPart.Owner.UserName</a>
                    </li>
                    <li>
                        In @Display(Model.Tags)
                    </li>
                </ul>
            </div>
            @Display(Model.Summary)
        </div>
    </div>
}