@using PJS.Bootstrap.Services;

@*doing excerpt generation on the way out for now so we don't stick ourselves with needing to regen excerpts for existing data
  also, doing this here, inline, until we have a pluggable processing model (both in and out)
  also, ...this is ugly *@
@{ 
    var settings = WorkContext.Resolve<IThemeSettingsService>().GetSettings();
    
    Orchard.ContentManagement.ContentItem contentItem = Model.ContentPart.ContentItem;
    string bodyHtml = Model.Html.ToString();
    var body = new HtmlString(Html.Excerpt(bodyHtml, 500).ToString().Replace(Environment.NewLine, "</p>" + Environment.NewLine + "<p>"));

    var firstIMG = bodyHtml.IndexOf("<img");
    var firstSlashIMG = bodyHtml.IndexOf("/>", firstIMG >= 0 ? firstIMG : 0);

    if (firstIMG >= 0 && firstSlashIMG > firstIMG) {
        bodyHtml = bodyHtml.Substring(firstIMG, firstSlashIMG + 2 - firstIMG);
        
        if (settings.BlogPostLayout == 1) {
            bodyHtml = bodyHtml.Replace("<img", "<img class='pull-left img-responsive' style='max-width: 180px; margin-right: 10px;'");
        }
        else {
            bodyHtml = bodyHtml.Replace("<img", "<img class='img-responsive'");
        }
    }

    var firstImage = new HtmlString(bodyHtml);
}

@if (settings.BlogPostLayout == 1) {
    <div class="blogpost-1">
        <div class="center-block text-center">
            <h3 id="blogpost-title-@contentItem.Id" class="post-title"></h3>
            <div class="bottomspace30">
                By <a id="blogpost-author-@contentItem.Id"></a> &bull; <span id="blogpost-date-@contentItem.Id"></span> &bull; <span class="blogpost-tags"></span>
            </div>
        </div>
        <div>
            @if (firstIMG >= 0 && firstSlashIMG > firstIMG) {
                <a href="@Url.ItemDisplayUrl(contentItem)">@firstImage</a>
            }
            <p>@body</p>
            <a href="@Url.ItemDisplayUrl(contentItem)" class="btn btn-sm btn-primary">Read more</a>
        </div>
        <div class="clearfix"></div>
    </div>
}
else if (settings.BlogPostLayout == 2) {
    <div class="blogpost-2 bottomspace25">
        <div class="post-thumb">
            @if (firstIMG >= 0 && firstSlashIMG > firstIMG) {
                <a href="@Url.ItemDisplayUrl(contentItem)">@firstImage</a>
            }
        </div>
        <div class="post-details" style="@(firstIMG >= 0 && firstSlashIMG > firstIMG ? string.Empty : "border-top-width: 1px;")">
            <h4 id="blogpost-title-@contentItem.Id" class="post-title"></h4>
            <div class="post-meta">
                <ul class="meta-list">
                    <li>
                        <span>Posted on</span>
                        <a id="blogpost-date-@contentItem.Id" href="#"></a>
                    </li>
                    <li>
                        <span>By</span>
                        <a id="blogpost-author-@contentItem.Id" href="#"></a>
                    </li>
                    <li>
                        <span>In</span>
                        <span class="blogpost-tags"></span>
                    </li>
                </ul>
            </div>
            <p>@body </p>
            <a class="btn btn-sm btn-primary" href="@Url.ItemDisplayUrl(contentItem)">Read More&nbsp;<i class="fa fa-long-arrow-right"></i></a>
        </div>
    </div>
}